<li class="nav-item menu-items {{ is_path('account') ? 'active' }}">
    <a href="{{ path('account') }}" class="nav-link">
        <span class="menu-icon">
            <i class="fa fa-tachometer-alt"></i>
        </span>
        <span class="menu-title">
            {{ trans("clientarea") }}
        </span>
    </a>
</li>
{% if current_user() %}
    <li class="nav-item menu-items {{ is_subpath('account.details') ? 'active' }}">
        <a href="{{ path('account.details') }}" class="nav-link">
            <span class="menu-icon">
                <i class="fa fa-user-edit"></i>
            </span>
            <span class="menu-title">
                {{ trans("account.details.title") }}
            </span>
        </a>
    </li>

    <li class="nav-item menu-items {{ is_subpath('account.emails') ? 'active' }}">
        <a href="{{ path('account.emails') }}" class="nav-link">
            <span class="menu-icon">
                <i class="fa fa-envelope"></i>
            </span>
            <span class="menu-title">
                {{ trans("account.emails.title") }}
            </span>
        </a>
    </li>
    <li class="nav-item menu-items {{ is_subpath('account.activity') ? 'active' }}">
        <a href="{{ path('account.activity') }}" class="nav-link">
            <span class="menu-icon">
                <i class="fa fa-chart-line"></i>
            </span>
            <span class="menu-title">
                {{ trans("account.activity.title") }}
            </span>
        </a>
    </li>
{% else %}
    <li class="nav-item nav-category">
    <span class="nav-link">

        {{ trans("authentification") }}
</span>
    </li>
    <li class="nav-item menu-items {{ is_subpath('account.signup') ? 'active' }}">
        <a href="{{ path('account.signup') }}" class="nav-link">
            <span class="menu-icon">
                <i class="fa fa-user-plus"></i>
            </span>
            <span class="menu-title">
                {{ trans("register") }}
            </span>
        </a>
    </li>
{% endif %}

{% if current_user() %}
    {% for item in online %}
        <div class="nav-item menu-items {{ is_subpath(item.route)  ? 'active' : '' }}">
            <a class="nav-link" href="{{ path(item.route) }}">

                <span class="menu-icon">
                    <i class="{{ item.icon }}"></i>
                </span>
                <span class="menu-title">
                    {{ trans(item.name) }}
                </span>
            </a>
        </div>
    {% endfor %}
{% endif %}

{% if current_user() == null %}
    {% for item in offline %}
        <div class="nav-item menu-items {{ is_subpath(item.route)  ? 'active' : '' }}">
            <a class="nav-link" href="{{ path(item.route) }}">

                <span class="menu-icon">
                    <i class="{{ item.icon }}"></i>
                </span>
                <span class="menu-title">
                    {{ trans(item.name) }}
                </span>
            </a>
        </div>
    {% endfor %}
{% endif %}

{% for item in global %}
    <div class="nav-item menu-items {{ is_subpath(item.route)  ? 'active' : '' }}">
        <a class="nav-link" href="{{ path(item.route) }}">

            <span class="menu-icon">
                <i class="{{ item.icon }}"></i>
            </span>
            <span class="menu-title">
                {{ trans(item.name) }}
            </span>
        </a>
    </div>
{% endfor %}
