{% if title %}

<li class="nav-item nav-category">
<span class="nav-link">{{ trans(title)}}</span>
</li>
{% endif %}

{% if current_user() %}
    {% for item in online %}
        <div class="nav-item menu-items {{ is_subpath(item.route)  ? 'active' : '' }}">
            <a class="nav-link" href="{{ path(item.route) }}">

                <span class="menu-icon">
                    <i class="{{ item.icon }}"></i>
                </span>
                <span class="menu-title">
                    {{ trans(item.name) }}
                </span>
            </a>
        </div>
    {% endfor %}
{% endif %}

{% if current_user() == null %}
    {% for item in offline %}
        <div class="nav-item menu-items {{ is_subpath(item.route)  ? 'active' : '' }}">
            <a class="nav-link" href="{{ path(item.route) }}">

                <span class="menu-icon">
                    <i class="{{ item.icon }}"></i>
                </span>
                <span class="menu-title">
                    {{ trans(item.name) }}
                </span>
            </a>
        </div>
    {% endfor %}
{% endif %}

{% for item in global %}
    <div class="nav-item menu-items {{ is_subpath(item.route)  ? 'active' : '' }}">
        <a class="nav-link" href="{{ path(item.route) }}">

            <span class="menu-icon">
                <i class="{{ item.icon }}"></i>
            </span>
            <span class="menu-title">
                {{ trans(item.name) }}
            </span>
        </a>
    </div>
{% endfor %}
