{% if error is defined %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger">
                {{ error }}
            </div>
        </div>
    </div>
{% else %}

    <hr>
    <div class="row">
        <div class="col-xl-4 col-sm-12 col-md-12">
            <div class="card card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>
                            <h5>
                                <i class="fa fa-rss" aria-hidden="true"></i>
                                {{ trans("proxmox.informations") }}
                            </h5>
                        </strong>
                    </li>


                    <li class="list-group-item">
                        <strong>
                            {{ trans("system") }}:
                        </strong>
                        Proxmox
                    </li>
                    <li class="list-group-item">
                        <strong>
                            {{ trans("user") }}:
                        </strong>
                        root
                    </li>

                    {% if status is proxmox_online %}
                        <li class="list-group-item" style="display:flex;">
                            <strong>
                                {{ trans("proxmox.uptime") }}:
                            </strong>
                            <div id="uptime">{{ uptime }}</div>
                        </li>
                    {% endif %}
                    {% if inAdmin == false %}


                        <li class="list-group-item">
                            {{ trans("proxmox.panel.problem") }}
                            <strong>
                                <a href="{{ path('support.submit') }}">
                                    {{ trans("proxmox.panel.openticket") }}
                                </a>
                            </strong>
                        </li>
                    {% endif %}

                </ul>
            </div>

            <div class="card card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>
                            <h5>
                                <i class="fa fa-network-wired" aria-hidden="true"></i>
                                {{ trans("proxmox.network.title") }}
                            </h5>
                        </strong>
                    </li>
                    {% for key, value in network %}
                        <li class="list-group-item">
                            <strong>
                                {{ trans("proxmox.network." ~ key) }}:
                            </strong>
                            {{ value }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card card-body">
                <h5><i class="fa fa-sync mr-3" aria-hidden="true"></i> {{ trans("proxmox.reinstall.title") }}

                    {% if record.currentreinstall < record.maxreinstall or record.maxreinstall == 0 %}
                        <button class="btn btn-primary float-right" data-toggle="collapse" href="#collapseReinstall"
                                role="button"
                                aria-expanded="false" aria-controls="collapseReinstall"><i class="fas fa-file-export"
                                                                                           aria-hidden="true"></i>
                        </button>
                    {% endif %}
                    {% if record.maxreinstall != 0 %}
                        {% if record.currentreinstall >= record.maxreinstall %}
                            <p class="text-danger" style="font-size: 1rem;">{{ trans("proxmox.reinstall.limit") }}</p>
                        {% else %}

                            <p class="text-secondary"
                               style="font-size: 1rem;">{{ trans("proxmox.reinstall.remaining", {'%remaining%': record.maxreinstall - record.currentreinstall}) }}</p>
                        {% endif %}
                    {% endif %}
                </h5>

                {% if record.currentreinstall < record.maxreinstall or record.maxreinstall == 0 %}
                    <div class="collapse" id="collapseReinstall">
                        <div class="card card-body">
                            <form method="POST" action="{{ path('proxmox.reinstall', {id: service.id}) }}">
                                {{ csrf_input() }}
                                {{ field("os", null, trans("proxmox.os"), {options: oses}) }}
                                {{ field("password", null, trans("password"), {type: 'password'}) }}
                                <button class="btn btn-primary">{{ trans("save") }}</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="card card-body">
                <h5><i class="fa fa-save mr-3" aria-hidden="true"></i> {{ trans("proxmox.snapshots.title") }}

                    {% if record.currentsnapshot < record.maxsnapshot or record.maxsnapshot == 0 %}
                        <button class="btn btn-primary float-right" data-toggle="collapse" href="#collapseSnapshot"
                                role="button"
                                aria-expanded="false" aria-controls="collapseSnapshot"><i class="fas fa-file-export"
                                                                                          aria-hidden="true"></i>
                        </button>
                    {% endif %}
                    {% if record.maxsnapshot != 0 %}
                        {% if record.currentsnapshot >= record.maxsnapshot %}
                            <p class="text-danger" style="font-size: 1rem;">{{ trans("proxmox.snapshots.limit") }}</p>
                        {% else %}

                            <p class="text-secondary"
                               style="font-size: 1rem;">{{ trans("proxmox.snapshots.remaining", {'%remaining%': record.maxsnapshot - record.currentsnapshot}) }}</p>
                        {% endif %}
                    {% endif %}
                </h5>

                {% if record.currentsnapshot < record.maxsnapshot %}
                    <div class="collapse" id="collapseSnapshot">
                        <div class="card card-body">
                            <form method="POST" action="{{ path('proxmox.snapshot.make', {id: service.id}) }}">
                                {{ csrf_input() }}
                                {{ field("name", null, trans("name")) }}

                                {{ field("description", null, "Description", {type: 'textarea'}) }}
                                <button class="btn btn-primary">{{ trans("save") }}</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% for snapshot in snapshots %}

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ snapshot.name }}</h5>
                            <p class="card-text">{{ snapshot.description }}</p>

                            {% if snapshot.snaptime %}
                                <button class="btn btn-danger" onclick="deleteSnapshot('{{ snapshot.name }}')">
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </button>

                                <button class="btn btn-primary ml-3" onclick="rollbackSnapshot('{{ snapshot.name }}')">
                                    <i
                                            class="fas fa-sync"
                                            aria-hidden="true"></i>
                                </button>
                            {% endif %}
                            {% if snapshot.snaptime %}
                                <p class="card-text"><small
                                            class="text-muted">{{ snapshot.snaptime | proxmox_formatted_date }}</small>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="col-xl-8 col-sm-12 col-md-12">
            <div class="row">

                <div class="col-sm-12 col-md-12">

                    <div class="col-sm-12 col-md-12">

                        <h2>
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            {{ name }}
                            {{ status | proxmox_status }}

                        </h2>


                        <div class="row">
                            {% for key, values in stats %}

                                {% set value = attribute(config, key) %}

                                {% if key == 'memory' or key == 'disk' %}

                                    {% set value = attribute(config, key) | formatBytes %}
                                {% endif %}
                                {% if key == 'bwlimit' or key == 'disk' %}
                                    {% set value = attribute(record, key) %}
                                {% endif %}

                                {% if key == 'disk' %}
                                    {% set value = attribute(record, key) | formatBytes %}
                                {% endif %}
                                {% if value == 0 %}
                                    {% set value = trans("proxmox.unlimited") %}
                                {% endif %}
                                {% if inAdmin == false %}
                                    {% include "navigations/home.twig" with {'items': [
                                        {
                                            'name': trans("proxmox." ~ key),
                                            'value': value,
                                            'color': values[0],
                                            'icon': values[1],
                                            'col' : '6',
                                        }
                                    ]} %}

                                {% else %}
                                    <div class="col-xl-4 col-sm-12 col-md-12">
                                        <div class="small-box bg-{{ values[0] }}">
                                            <div class="inner">
                                                <h3>

                                                    {{ value }}</h3>

                                                <p>{{ trans("proxmox." ~ key) }}</p>
                                            </div>
                                            <div class="icon">
                                                <i class="{{ values[1] }}"></i>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mt-4 mb-4">

                            {% if status is proxmox_online %}
                                <div class="row">

                                    <div class="col-xl-12 col-sm-12 col-md-12 mb-3">
                                        <a class="btn btn-warning btn-block btn-sm"
                                           href="{{ path('proxmox.status', {id: service.id, status: 'stop'}) }}">{{ trans("proxmox.stop") }}</a>

                                    </div>

                                    <div class="col-xl-6 col-sm-12 col-md-12">
                                        <a class="btn btn-info btn-block btn-sm"
                                           href="{{ path('proxmox.status', {id: service.id, status: 'reboot'}) }}">{{ trans("proxmox.reboot") }}</a>

                                    </div>

                                    <div class="col-xl-6 col-sm-12 col-md-12">
                                        <a class="btn btn-danger btn-block btn-sm"
                                           href="{{ path('proxmox.status', {id: service.id, status: 'shutdown'}) }}"
                                           onclick="return confirmation()">{{ trans("proxmox.shutdown") }}</a>

                                    </div>


                                </div>

                            {% endif %}

                            {% if status is proxmox_offline %}
                                <a class="btn btn-success btn-block btn-sm"
                                   href="{{ path('proxmox.status', {id: service.id, status: 'start'}) }}">{{ trans("proxmox.start") }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link {{ request().queryParams().disk_timeframe or request().queryParams() is empty ? 'active' : '' }}"
                               id="nav-disk-tab" data-toggle="tab" href="#nav-disk"
                               role="tab"
                               aria-controls="nav-disk" aria-selected="true">{{ trans("proxmox.disk") }}</a>
                            <a class="nav-link {{ request().queryParams().cpu_timeframe ? 'active' : '' }}"
                               id="nav-cpu-tab" data-toggle="tab" href="#nav-cpu" role="tab"
                               aria-controls="nav-cpu" aria-selected="false">{{ trans("proxmox.cpu") }}</a>

                            <a class="nav-link {{ request().queryParams().mem_timeframe ? 'active' : '' }}"
                               id="nav-mem-tab" data-toggle="tab" href="#nav-mem" role="tab"
                               aria-controls="nav-mem" aria-selected="false">{{ trans("proxmox.memory") }}</a>

                            <a class="nav-link {{ request().queryParams().net_timeframe ? 'active' : '' }}"
                               id="nav-net-tab" data-toggle="tab" href="#nav-net" role="tab"
                               aria-controls="nav-net" aria-selected="false">{{ trans("proxmox.net") }}</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane {{ request().queryParams().disk_timeframe or request().queryParams() is empty ? 'show active' : 'fade' }}"
                             id="nav-disk" role="tabpanel"
                             aria-labelledby="nav-disk-tab">
                            <div class="card card-body">

                                <div class="row">

                                    <div class="col-md-4 offset-md-8 mb-2">
                                        <form>
                                            <select class="form-control" name="disk_timeframe"
                                                    onchange="this.form.submit()">
                                                {% for time, value in times %}
                                                    <option value="{{ time }}" {{ disk_timeframe == time ? 'selected' }}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                {{ disk | raw }}
                            </div>
                        </div>
                        <div class="tab-pane {{ request().queryParams().cpu_timeframe ? 'show active' : 'fade' }}"
                             id="nav-cpu" role="tabpanel" aria-labelledby="nav-cpu-tab">
                            <div class="card card-body">
                                <div class="row">

                                    <div class="col-md-4 offset-md-8 mb-2">

                                        <form>
                                            <select class="form-control" name="cpu_timeframe"
                                                    onchange="this.form.submit()">
                                                {% for time, value in times %}
                                                    <option value="{{ time }}" {{ cpu_timeframe == time ? 'selected' }}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                {{ cpu | raw }}
                            </div>
                        </div>

                        <div class="tab-pane {{ request().queryParams().mem_timeframe ? 'show active' : 'fade' }}"
                             id="nav-mem" role="tabpanel" aria-labelledby="nav-mem-tab">
                            <div class="card card-body">
                                <div class="row">

                                    <div class="col-md-4 offset-md-8 mb-2">

                                        <form>
                                            <select class="form-control" name="mem_timeframe"
                                                    onchange="this.form.submit()">
                                                {% for time, value in times %}
                                                    <option value="{{ time }}" {{ mem_timeframe == time ? 'selected' }}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                {{ mem | raw }}
                            </div>
                        </div>

                        <div class="tab-pane {{ request().queryParams().net_timeframe ? 'show active' : 'fade' }}"
                             id="nav-net" role="tabpanel" aria-labelledby="nav-net-tab">
                            <div class="card card-body">
                                <div class="row">

                                    <div class="col-md-4 offset-md-8 mb-2">

                                        <form>
                                            <select class="form-control" name="net_timeframe"
                                                    onchange="this.form.submit()">
                                                {% for time, value in times %}
                                                    <option value="{{ time }}" {{ net_timeframe == time ? 'selected' }}>{{ value }}</option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                {{ net | raw }}
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-sm-12 col-md-12">
                    <div class="card">
                        <div class="card-body" {% if tasks | length > 5 %}style="
		  height:300px;
		  overflow:scroll;
		  overflow-x:hidden;" {% endif %}>
                            <h4>{{ trans("proxmox.tasks") }}</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">{{ trans("date") }}</th>
                                    <th scope="col">{{ trans("action") }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr {{ task.success  ? ''  : 'class="text-danger"' }}>
                                        <td>{{ task.createdAt | formatted_date() }}</td>
                                        <td>{{ task.action }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener("service_reloaded", function (e) {
            init()
        })

        function init() {

            let uptime = document.getElementById("uptime")
            if (uptime == null) {
                return;
            }
            let initialValues = uptime.innerHTML.trim().split(':')
            let days = parseInt(initialValues[0]) - 1
            let hours = parseInt(initialValues[1]) - 1
            let minutes = parseInt(initialValues[2]) - 1
            let seconds = parseInt(initialValues[3]) - 1
            let ms = 0
            let last = null;
            let t = setInterval(update, 100);

            function update() {
                ms++;
                if (ms === 10) {
                    ms = 1;
                    seconds += 1;
                }
                if (seconds === 60) {
                    seconds = 0;
                    minutes += 1;
                }
                if (minutes === 60) {
                    minutes = 0;
                    hours += 1;
                }

                if (hours === 24) {
                    days += 1;
                }
                if (last != null) {
                    if (last.days !== days || last.seconds !== seconds || last.hours !== hours || last.minutes !== minutes) {
                        let parts = []
                        if (days !== 0) {
                            parts.push(" " + days + " days ")
                        }
                        if (hours !== 0) {
                            parts.push(" " + hours + " hours ")
                        }
                        if (minutes !== 0) {
                            parts.push(" " + minutes.toString().padStart(2, "0") + " mins ")
                        }

                        if (seconds !== 0) {
                            parts.push(" " + seconds.toString().padStart(2, "0") + " secs ")
                        }

                        uptime.innerHTML = " " + parts.join("")
                    }
                }
                last = {days, seconds, minutes, hours}
            }

        }

        init()
        const deleteSnapshot = function (name) {
            if (confirmation()) {
                document.getElementById("form-delete-" + name).submit()
            }
        }
        const rollbackSnapshot = function (name) {
            if (confirmation()) {
                document.getElementById("form-rollback-" + name).submit()
            }
        }
    </script>

    {% set token = csrf_input() %}
    {% for snapshot in snapshots %}
        <form method="POST" id="form-delete-{{ snapshot.name }}"
              action="{{ path('proxmox.snapshot.delete', {id: service.id, name: snapshot.name}) }}">
            {{ token | raw }}
            <input type="hidden" name="_method" value="DELETE">
        </form>

        <form method="POST" id="form-rollback-{{ snapshot.name }}"
              action="{{ path('proxmox.snapshot.rollback', {id: service.id, name: snapshot.name}) }}">
            {{ token | raw }}
        </form>
    {% endfor %}

{% endif %}
