{% extends "layout.twig" %}

{% block title  ticket.subject %}

{% block styles %}
    <style>
        @media print {
            .col-md-1,
            .btn-edit {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12 col-xl-3 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ trans("support.informations") }}</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th scope="row">
                                <i class="fa fa-tachometer-alt"></i>
                            </th>
                            <td>{{ ticket.priority | support_priority }}</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fa fa-building"></i>
                            </th>
                            <td>{{ ticket.departmentId | support_department }}</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <i class="fa fa-clock"></i>
                            </th>
                            <td>{{ ticket.createdAt | ago }}</td>
                        </tr>
                        {% if ticket.lastUpdated %}
                            <tr>
                                <th scope="row">
                                    <i class="fa fa-clock"></i>
                                </th>
                                <td>{{ ticket.lastUpdated(true) | ago }}</td>
                            </tr>
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>

            {% if ticket.state != constant('CLOSED', ticket) %}
                <form style="display: inline;" action="{{ path('support.close', {id: ticket.id}) }}"
                      method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger text-light" style="margin-top: 15px;">
                        <i class="fa fa-times-circle"></i>
                        {{ trans("close") }}
                    </button>
                    {{ csrf_input() }}

                </form>
            {% endif %}
        </div>
        <div class="col-md-12 col-xl-9 col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h2 class="h3">{{ trans("support.discussion") }}</h2>
                    {{ ticket.state | support_status | raw }}
                </div>
            </div>
            {% for message in ticket.messages() %}

                <div class="card">
                    <div class="card-body">

                        {% set isStaff = message.isStaff() %}
                        <h4 class="card-title">{{ trans ( "support.show." ~ ((ticket.messages | length == 1 and isStaff == false) ? 'your_question' :  (isStaff) ? 'our_reply': 'your_reply')) }}
                            - {{ isStaff ? message.admin.username : message.account.name }}</h4>
                        <p>
                            {{ message.content | nl2br }}
                        </p>
                        <div class="text-primary font-weight-600">{{ message.createdAt | ago }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="card card-success mt-5">
                <div class="card-header">
                    <h2 class="h3">{{ trans("support.show.reply") }}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form method="post" action="{{ path('support.replay', {id: ticket.id}) }}">
                                {{ csrf_input() }}
                                {{ field('content', null, trans("support.show.textarea"), {type: 'textarea', 'label':false, 'placeholder':'', style: 'height:150px;', is: 'textarea-autogrow'}) }}
                                <button class="btn btn-primary">
                                    <i class="fas fa-pen"></i>
                                    {{ trans("support.show.reply") }}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block scripts %}
        <script src="{{ theme_global('autogrow.js') }}" type="module"></script>
        <script src="{{ theme_global('support.js') }}"></script>
        {{ ago_scripts() }}
    {% endblock %}
