<div class="col-md-6 col-sm-12">
	<div class="card">
		<div class="card-body">
			<h4>
				<i class="fas fa-life-ring mr-2"></i>
				{{ trans("your_tickets")}}
			</h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>

							<th>{{ trans("support.table.subject")}}</th>
							<th>{{ trans("support.table.department")}}</th>
							<th>{{ trans("support.table.priority")}}</th>
							<th>{{ trans("support.table.last_updated")}}</th>
							<th>{{ trans("state2")}}</th>
							<th>{{ trans("action")}}</th>
						</tr>
					</thead>
					<tbody>
						{% if tickets is not empty %}
							{% for ticket in tickets %}
								<tr>
									<td>{{ ticket.id }}</td>
									<td>{{ ticket.subject}}</td>
									<td>{{ ticket.departmentId | support_department }}</td>
									<td>{{ ticket.priority }}</td>
									<td>{{ ticket.lastUpdated }}</td>
									<td>{{ ticket.status | support_status | raw}}</td>

									<td>
										<a href="{{ path('support.admin.ticket.edit', {id: ticket.id}) }}" class="btn btn-primary">{{ trans("access")}}</a>
									</td>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<td colspan="7">{{ trans("no_record") }}</td>
							</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
